/* base style */
.d-inline-block{
    display: inline-block;
}
body{
    padding-top: 100px;
}
/* header */
.head{
    width: 100%;
    background-color: red;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.logo{
    vertical-align: middle;
    margin-right: 50px;
}
.nav-li{
    padding-right: 50px;
    font-family: 'Helvetica';
}
.user{
    vertical-align: middle;
}


/* Trending */
.trending{
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 5px;
}
.cont{
    width: 360px;
    background-color: #ffffff;
    margin-left: 20px;
    position: relative;
}
.title{
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 16px;
    color: white;
}
.news{
    border-radius: 3px;
}
.title-trend{
    font-size: 24px;
    color: #202124;
    font-family: 'Helvetica';
    margin-bottom: 30px;
    margin-left: 20px;

}
.content{
    width: 360px;
    height: 175px;
    padding: 40px;
}
.lorem{
    font-size: 13px;
    font-family: 'Acumin Pro';
    margin-bottom: 10px;
    color: #A6ADB4;
}
.data{
    color: #CBD0D3;
    font-family: 'Acumin Pro';
    font-weight: 999;
}
.data::before{
    content: url(../img/time.svg);
    vertical-align: middle;
    margin-right: 10px;
    font-weight: 999;
}
/* Heppening */
.happening{
    width: 1160px;
    margin: 0 auto;
}

.box1{
    width: 760px;
    vertical-align: top;
    margin-right: 10px;
}
.img11{
    margin-bottom: 40px;
}
.box2{
    width: 360px;
}
.hapy{
    font-size: 24px;
    font-family: 'Helvetica';
    margin-bottom: 40px;
}
.box2 .img2{
    margin-bottom: 100px;
}

/* Footer */
.footer{
    width: 100%;
    background-color: #A6ADB4;
    padding: 70px 50px;
    margin-top: 30px;
}

.ul-1{ /* base class*/
    vertical-align: top;
}
.f6565367{
    margin-right: 90px;
}
.ullfe{
    font-size: 13px;
    font-family: 'Helvetica';
    margin-right: 75px;
}
.li-foot{
    color: #CBD0D3;
}
.copy{
    color: white;
    margin-right: 150px ;
}
.img-foot{
    margin-right: 32px;

}